#chatContainer {
  height: 100%;
  width: 100%;
  background: greenyellow;
  font-family: 'Noto Sans JP', sans-serif;
}

#chatGrid {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
}

#chatInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

#chat {
  display: grid;
  grid-template-rows: 85% 15%;
  background: #FFFFFF;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12);
}

#chatFeed {
  overflow-y: scroll;
  padding: 20px;
}

#chatInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

#chatInput input {
  width: 90%;
  padding: 15px;
  border-radius: 18px;
  border: 1px solid #348ddf;
  outline: none;
  transition: 0.2s linear;
}

#chatInput input:focus {
  border: 2px solid #348ddf;
}

.message {
  padding: 10px;
  background: #F1F0F0;
  width: fit-content;
  border-radius: 18px; 
  margin: 10px
}

.myMessage {
  padding: 10px;
  background: #1E93D1;
  width: fit-content;
  border-radius: 18px; 
  margin: 10px;
  color: white;
}

.messageContent{
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px
}

.messageContentRight {
  justify-content: flex-end
}


.messageContent img {
  border-radius: 40%;
}

#userNameTooltip {
  border-radius: 18px;
  padding: 10px;
  background-color: rgba(235, 90, 92, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-out;
  color: white
}

.messageContent:hover {
  background-color: rgb(194, 194, 194)
}

.messageContent:hover > #userNameTooltip {
  opacity: 1;
}

.messageContent:active > #userNameTooltip {
  opacity: 1;
}