<div id="chatGrid">
  <div id="chatInfo">
    <div>
      Online users: {{ chatInfo.onlineUsers }}
    </div>

    <div>
      Total messages: {{ chatInfo.totalMsgs }}
    </div>
  </div>

  <div id="chat">
    <div id="chatFeed">
      <div [ngClass]="setSideClass(msg.uid)" *ngFor="let msg of messages">
        <div *ngIf="isMe(msg.uid)" id="userNameTooltip"> {{msg.userName}} </div>
        <img *ngIf="!isMe(msg.uid)" [src]="msg.picUrl" width="40" height="40" alt="">

        <div [ngClass]="setMessageClass(msg.uid)">
          {{msg.message}}
        </div>

        <div *ngIf="!isMe(msg.uid)" id="userNameTooltip"> {{msg.userName}} </div>
        <img *ngIf="isMe(msg.uid)" [src]="msg.picUrl" width="40" height="40" alt="">
      </div>
    </div>
  
    <div id="chatInput">
      <input id="chat-input" (keypress)="onInputKeyPress($event)" [(ngModel)]="message" type="text" placeholder="Message">
    </div>
  </div>
</div>