<div id="chatGrid">
  <div id="chatInfo">
    <div class="roomMeta">
      <div *ngIf="!editingName" (click)="toggleEditName()">{{roomInfo.roomName}}</div>
      <input maxlength="20" id="editNameInput" (blur)="toggleEditName()" *ngIf="editingName"
        [(ngModel)]="roomInfo.roomName" type="text" (keypress)="onEditInputKeyPress($event)">
    </div>

    <div class="roomStats">
      <div>Total messages: {{roomInfo.messages.length}}</div>
    </div>

    <div class="roomUsers">
      <div *ngFor="let user of roomInfo.onlineUsers" class="onlineUser">
        <img [src]="user.picUrl" width="40" alt="">
        <div class="userName">
          {{user.userName}}
        </div>
      </div>
    </div>
  </div>

  <div id="chat">
    <div id="chatFeed">
      <div [ngClass]="setSideClass(msg.user.uid)" *ngFor="let msg of roomInfo.messages">
        <div *ngIf="isMe(msg.user.uid)" id="userNameTooltip"> {{msg.user.userName}} </div>
        <img *ngIf="!isMe(msg.user.uid)" [src]="msg.user.picUrl" width="40" height="40" alt="">

        <div [ngClass]="setMessageClass(msg.user.uid)">
          {{msg.message}}
        </div>

        <div *ngIf="!isMe(msg.user.uid)" id="userNameTooltip"> {{msg.user.userName}} </div>
        <img *ngIf="isMe(msg.user.uid)" [src]="msg.user.picUrl" width="40" height="40" alt="">
      </div>
    </div>

    <div id="chatInput">
      <input autocomplete="off" id="chat-input" (keypress)="onInputKeyPress($event)" [(ngModel)]="message" type="text"
        placeholder="Message">
      <div class="inputIcons">
        <i class="far fa-smile"></i>
        <i class="fas fa-angle-right" (click)="sendMessage()"></i>
      </div>
    </div>
  </div>
</div>