<div id="navbar">
  <div class="items">
    <div routerLink="/">
      Lobby
    </div>
    <div routerLink="/dm">
      Direct
    </div>
    <div routerLink="/about">
      About
    </div>
  </div>

  <div class="userInfo">
    <div id="profileDiv">
      <div>{{userName}}</div>
      <img height="40px" [src]="imgUrl" alt="" srcset="">
    </div>

    <div (click)="onLogOutClick()" class="logoutBtn">
      <i class="fas fa-power-off"></i>
    </div>
  </div>
</div>

<div *ngIf="logOutCheck" class="logOutCheckContainer">
  <div class="logOutCheck">
    <div class="closeSignOutBtn">
      Sign out
      <i (click)="dontLogOut()" class="far fa-times-circle"></i>
    </div>
    <h2>Are you sure?</h2>
    <div class="sureBtns">
      <div (click)="dontLogOut()"><i class="fas fa-undo"></i> No</div>
      <div (click)="logOut()"><i class="fas fa-walking"></i> Sign out</div>
    </div>
  </div>

  <div (click)="dontLogOut()" class="backDrop"></div>
</div>