<div id="navbar">
  <div class="item">
    Chat
  </div>
  <div class="item">
    About
  </div>
  <div class="userInfo">
    <div id="profileDiv">
      <div>{{userName}}</div>
      <img height="40px" [src]="imgUrl" alt="" srcset="">
    </div>

    <div (click)="onLogOutClick()" class="item">
      <i class="fas fa-power-off"></i>
    </div>
  </div>
</div>

<div *ngIf="logOutCheck">
  <div id="logOutCheck">
    <h1>Are you sure?</h1>
    <p>leaving so soon?</p>
    <div id="buttons">
      <div (click)="dontLogOut()" id="stay">NO, Stay!</div>
      <div (click)="logOut()" id="logOut">Sign me out :(</div>
    </div>
  </div>

  <div id="backDrop" (click)="dontLogOut()"></div>
</div>
