<div class="chatTitle" *ngIf="!loading">
  chatting with {{user2.userName}}
</div>

<div id="chat" *ngIf="!loading">
  <div id="chatFeed">
    <div [ngClass]="setSideClass(msg.user.uid)" *ngFor="let msg of roomInfo.messages">
      <div *ngIf="isMe(msg.user.uid)" id="userNameTooltip"> {{msg.user.userName}} </div>
      <img *ngIf="!isMe(msg.user.uid)" [src]="msg.user.picUrl" width="40" height="40" alt="">

      <div [ngClass]="setMessageClass(msg.user.uid)">
        {{msg.message}}
      </div>

      <div *ngIf="!isMe(msg.user.uid)" id="userNameTooltip"> {{msg.user.userName}} </div>
      <img *ngIf="isMe(msg.user.uid)" [src]="msg.user.picUrl" width="40" height="40" alt="">
    </div>
  </div>

  <div id="chatInput">
    <input autocomplete="off" id="chat-input" (keypress)="onInputKeyPress($event)" [(ngModel)]="message" type="text"
      placeholder="Message">
    <div class="inputIcons">
      <i class="far fa-smile" (click)="showEmojis=true"></i>
      <i class="fas fa-angle-right" (click)="sendMessage()"></i>
    </div>
    <div [ngStyle]="{ 'display': showEmojis ? 'block' : 'none' }">
      <div class="emojis">
        <emoji-mart (emojiSelect)="onEmojiSelect($event)" categoriesIcons="" recent="" emoji="" title=""
          showPreview="false" set="messenger">
        </emoji-mart>
      </div>
      <div (click)="showEmojis=false" class="backdrop"></div>
    </div>
  </div>
</div>


<div *ngIf="loading">
  Loading...
</div>