app-lobby {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
}

app-chats-list {
  width: 100%;
  height: 100%;
  background: #F6F8FA;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  border-radius: 4px;
  box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12);
}

app-chats-list::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

#closeAddRoomBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#closeAddRoomBtn i {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(10,16,20,.2);
  transition-duration: 200ms;
  padding: 10px
}

#closeAddRoomBtn i:hover {
  box-shadow: 0 5px 5px rgba(10,16,20,.4);
}

#closeAddRoomBtn i:active {
  box-shadow: 0 5px 5px rgba(10,16,20,.7);
}

#createRoomContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backDrop {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
}

.createRoom {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12);
  z-index: 2;
}

.createRoom input {
  margin: 10px;
  width: 90%;
  padding: 15px;
  border-radius: 18px;
  border: 1px solid #348ddf;
  outline: none;
  transition: 0.1s linear;
}

.createRoom input:focus {
  border: 2px solid #348ddf;
}

.createRoom button {
  width: 50%;
}

.charLeftDisplay{
  text-align: start;
  width: 80%;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.sureBtns {
  text-align: center;
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sureBtns div {
  padding: 10px;
  width: 40%;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(10,16,20,.2);
  transition-duration: 200ms
}

.sureBtns div:nth-child(2n) {
  background-color: #EB5A5C;
  color: white
}

.sureBtns div:hover {
  box-shadow: 0 5px 5px rgba(10,16,20,.4);
}

.createBtn { 
  background: rgb(41, 202, 65);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(10,16,20,.24);
  transition: 200ms linear
}

.createBtn:hover {
  cursor: pointer;
  box-shadow: 0 15px 15px rgba(10,16,20,.24);
}