<div *ngIf="showCreateRoom" id="createRoomContainer" (keydown)="onAddRoomInputKeyPress($event)">

  <div id="createRoom">
    <div id="closeAddRoomBtn">
      Create a room
      <i (click)="onShowCreateRoomClick()" class="far fa-times-circle"></i>
    </div>
    <input id="addRoomInput" type="text" placeholder="Room name (max 20 char)" maxlength="20" [(ngModel)]="roomName">
    <label class="charLeftDisplay" *ngIf="roomName">{{20 - roomName.length}} characters left</label>
    <button [disabled]="loading" (click)="onCreateRoomClick()">{{ loading ? 'Creating...' : 'Create' }}</button>
  </div>

  <div (click)="onShowCreateRoomClick()" class="backDrop"></div>
</div>


<app-chats-list [showCreateRoomClick]="onShowCreateRoomClick"></app-chats-list>