<div class="container">
  <div class="titleMessage">- Direct Message -</div>

  <div *ngIf="onlineUsers.length <= 0">No one is online</div>
  <div *ngIf="onlineUsers.length > 0">Online people</div>
  
  <div *ngFor="let user of onlineUsers" class="user" (click)="openChat(user)">
    <div class="userInfo">
      <div>
        <img [src]="user.picUrl" height="40px" alt="">
      </div>
      <div>
        {{user.userName}}
      </div>
    </div>

    <div class="icons"><i class="fas fa-angle-right"></i></div>
  </div>
</div>