.roomItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
  height: 45px;
  box-shadow: 0 8px 8px rgba(10,16,20,.2);
  transition-duration: 100ms
}

.createRoomBtn {
  background: #EB5A5C;
  color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(10,16,20,.24);
}

.createRoomBtn:hover {
  cursor: pointer;
  box-shadow: 0 15px 15px rgba(10,16,20,.24);
}

.roomListHeader {
  background-color: #1E93D1;
  color: white
}

.joinBtn {
  background: #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(10,16,20,.24);
  text-decoration: none;
}

.joinBtn:hover {
  cursor: pointer;
  box-shadow: 0 15px 15px rgba(10,16,20,.24);
}

.rowContainer {
  text-align: center;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center
}

.rowContainer div {
  width: 80%;
  height: 60%
}

.filterBtn:hover {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(10,16,20,.24);
}