<div class="roomItem roomListHeader">
  <div class="rowContainer titleInfo">
    <div class="onlineUsers filterBtn" (click)="sort(0)">
      <i class="fas fa-users"></i> Online users
      <i *ngIf="!sortByOnlineUsers" class="fas fa-angle-down"></i>
      <i *ngIf="sortByOnlineUsers" class="fas fa-angle-up"></i>
    </div>
  </div>
  <div class="rowContainer titleInfo">
    <div class="roomName filterBtn" (click)="sort(1)">
      <i class="fas fa-comment-dots"></i> Room name
      <i *ngIf="!sortByRoomName" class="fas fa-angle-down"></i>
      <i *ngIf="sortByRoomName" class="fas fa-angle-up"></i>
    </div>
  </div>
  <div class="rowContainer titleInfo">
    <div class="filterBtn" (click)="sort(2)">
      <i class="fas fa-user-tie"></i> Room owner
      <i *ngIf="!sortByRoomOwner" class="fas fa-angle-down"></i>
      <i *ngIf="sortByRoomOwner" class="fas fa-angle-up"></i>
    </div>
  </div>
  <div class="rowContainer createRoomBtnContainer">
    <div class="createRoomBtn" (click)="showCreateRoomClick()">
      <i class="fas fa-comment-medical"></i> CREATE ROOM
    </div>
  </div>
</div>

<div *ngIf="!roomList.length" class="roomItem">
  No rooms yet
</div>

<div *ngFor="let room of roomList.reverse()" class="roomItem">
  <div class="rowContainer">
    <div class="onlineUsers">
      {{room.onlineUsers.length}} / 20
    </div>
  </div>
  <div class="rowContainer">
    <div class="roomName">
      {{room.roomName}}
    </div>
  </div>
  <div class="rowContainer">
    <div class="roomOwner">
      <img [src]="room.roomOwner.picUrl" width="40">
      <div>
        {{room.roomOwner.userName}}
      </div>
    </div>
  </div>
  <div class="rowContainer">
    <div class="joinBtn" (click)="joinRoom(room.roomId)">
      <i class="fas fa-sign-in-alt"></i> JOIN
    </div>
    <div *ngIf="isMe(room.roomOwner.uid)" class="deleteBtn" (click)="showDeleteRoomClick(room.roomId)">
      <i class="fas fa-trash"></i> DELETE
    </div>
  </div>
</div>